[Unit]
Description=Check Workout Ledger Git updates regularly

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
Unit=workout-ledger-update.service

[Install]
WantedBy=timers.target
